
{% extends "inTemplate.html" %}

{% block pageName %}Home{% endblock %}

{% block maincontent %}

<!--
| Select Course Form:
|   Holds a list of Courses
-->
<div id="select course" class="row" style="padding:0;margin:0;width:100%">
  <div class="col-lg-4" style="padding:0;margin:0;width:100%">
   <form style="width:100%; padding:0;margin:0" role="form">
     <div class="form-group">
       <label style="float:left; margin-top:8px; margin-right:15px">Course:</label>
       <select style="float:left; width:65%; margin-top:2px" onchange="dropdown()" id="selectid" style="width:100%"
               class="form-control">
               {% if selectdefault == '' or selectdefault == None %}
                 <option>Click Here to Select a Course</option>
               {% else %}
                 <option>{{ selectdefault }}</option>
               {% endif %}
           {% for course in courses %}
             {% if quiz.name != selectdefault %}
               <option value="{{ course.name }}">{{ course.name }}</option>
             {% endif %}
           {% endfor %}
       </select>
        <button id="newcoursebtn" style="float:right; width:20%" class="bluebtn btn btn-primary" data-target="#newcourse"
          type="button" data-toggle="modal">Create Course
        </button>
     </div>
   </form>
  </div>
</div>
<br>

<!--
| New Course Modal
|   Activated from Create Course Button
-->
<div class="modal fade" id="newcourse" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Coming Soon!</h4>
      </div>
      <div class="modal-body">
          <!--           <form action="createQuizFromProblem" method="POST"> -->
        <form>
<!--
        <input type="text" name="course_name" id="course_name" class="form-control" placeholder="Enter a Course Name">
        <br>
        <input type="text" name="course_description" id="course_description" class="form-control" placeholder="Enter a Course Description">
-->

<p>Coming soon!</p>
<p>The ability to add a course will be one of our next features!</p>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
<!--
          <button id="addcourse" type="button" class="bluebtn btn btn-primary" data-dismiss="modal">Submit</button>
-->
      </div>
      </form>
    </div>
  </div>
</div>

                                                    <!-- Search Output Table -->
<div class="row">
  <div class="col-lg-12">
    <h2>Quiz Grades</h2>
    <div class="table-responsive">
      <table id="myTable" class="table table-hover table-striped" name="problemsTable">
        <thead>
         <tr>
             <th>Quiz Name </th>
             <th>My Grade</th>
             <th>Completion Date</th>
         </tr>
        </thead>
        <tbody>
        {%for grade in grades %}
          <tr class="result" data-toggle="tooltip" title="Click to View Quiz Results"
              style="cursor:pointer"
              onclick="document.location='/inQuizzes?grade={{ grade.key.urlsafe }}';">
              <td name="quiz"><a href="#"><h4>{{ grade.quiz }}</h4></a></td>
              <td><h4>{{ grade.stringgrade }}</h4></td>
              <td><h4>{{ grade.date }}</h4></td>

                <!-- <form action="/deleteQuiz" method="POST">
                  <button type="submit" name="quiz_key_delete" value="{{ quiz.key.urlsafe }}">Delete quiz</button>
                </form> -->
              </td>
          </tr>
        {% endfor %}

        </tbody>
      </table>
    </div>
  </div>
</div>



<script>
  document.getElementById("home").className += "active";
  $('#quizform').css('display', 'none');
</script>
{% endblock %}




