{% extends "inTemplate.html" %}

{% block sidebar %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="/"><i class="fa fa-fw fa-home"></i> Home</a>
            </li>
            <li>
                <a href="/inProblem"><i class="fa fa-fw fa-edit"></i> New Problem</a>
            </li>
            <li class="active">
                <a href="/inMyProblems"><i class="fa fa-fw fa-edit"></i> My Problems</a>
            </li>
        </ul>
    </div>
            <!-- /.navbar-collapse -->
{% endblock %}

{% block maincontent %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>


        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            My Problems
                        </h1>
                    </div>
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-4">
                        <form role="form">
                            <div class="form-group">
                                <label>Class</label>
                                <select class="form-control">
                                    <option>Class</option>
                                    <option>Math101</option>
                                    <option>Math102</option>
                                    <option>Math103</option>
                                    <option>Math104</option>
                                </select>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                     <div class="col-lg-12">
                        <h2>Problems</h2>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped" name="problemsTable">
                                <thead>
                                    <tr>
                                        <th>Problem </th>
                                        <th>LaTeX</th>
                                        <th>Author</th>
                                        <th>Creation Date</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {%for problem in problems %}
                                    <tr>
                                        <td><script type="math/tex">{{ problem.content }}</script></td>
                                        <td>{{ problem.content }}</td>
                                        <td>{{ problem.author.identity }}</td>
                                        <td>{{ problem.date }}</td>
                                        <td><button type="button" onclick="alert('Function not yet implemented')"> Delete problem</button></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

{% endblock %}
