{% extends "inTemplate.html" %}

{% block style %}
    <link href="./bootstrap/css/inProblem.css" rel="stylesheet" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{% endblock %}


{% block sidebar %}
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li>
                <a href="/inMain"><i class="fa fa-fw fa-home"></i> Home</a>
            </li>
            <li class="active">
                <a href="/inProblem"><i class="fa fa-fw fa-edit"></i> Problem</a>
            </li>
            <li>
                <a href="/inMyProblems"><i class="fa fa-fw fa-edit"></i> My Problems</a>
            </li>
        </ul>
    </div>
            <!-- /.navbar-collapse -->
{% endblock %}

{% block maincontent %}
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Add a Problem
                            <small></small>
                        </h1>
                    </div>
                </div>

<!-- -->

<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>



<h2 id="display"></h2>
<ul class="mbttn">
  <li onclick="addLaTex('\\frac{x}{y} ')">$\frac{x}{y}$</li>
  <li onclick="addLaTex('x\\cdot y')">$x\cdot y$</li>
  <li onclick="addLaTex('x^{xy}')">$x^{xy}$</li>
  <li onclick="addLaTex('\\sqrt{x} ')">$\sqrt{x}$</li>
  <li onclick="addLaTex('\\sqrt[3]{x}')">$\sqrt[3]{x}$</li>
  <li onclick="addLaTex('|x| ')">$|x|$</li>
  <li onclick="addLaTex('\\alpha ')">$\alpha$</li>
  <li onclick="addLaTex('\\beta ')">$\beta$</li>
  <li onclick="addLaTex('\\Delta ')">$\Delta$</li>
  <li onclick="addLaTex('\\Omega ')">$\Omega$</li>
  <li onclick="addLaTex('\\ge ')">$\ge$</li>
  <li onclick="addLaTex('\\ne ')">$\ne$</li>
  <li onclick="addLaTex('\\infty ')">$\infty$</li>
  <li onclick="addLaTex('\\sum_{i=0}^n ')">$\sum_{i=0}^n$</li>
</ul>
<div class="inputArea">
  <form  action="/inProblem" method="POST">
    <label for="data">Question:</label>
    <input type="text" id="textbox" name="problem">
    <button onclick="nextFun()" id ="prev" type="clear">clear</button>
    <button id ="next" type="submit">save</button>
  </form>
</div>
                </div>
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>

<script>
/*******************************************************************************
* Variables set to match ids of elements:
*
**********/
var textbox = document.getElementById("textbox");
var display = document.getElementById("display");
/*******************************************************************************
* Page Load
* ---------
*  - Focus the textbox
*  - Then, scroll back to the top
*  - Mathjax buttons show up slowly to avoid jittery behaivior
*
**********/
$("#textbox").focus();
window.scrollTo(0,0);
$(".mbttn li").animate({opacity: '1'}, 2500);
/*******************************************************************************
* Display Function
* ----------------
* - Make the math display match the textbox
* - A timeout where the text is invisible allows the mathjax to render
*
**********/
var displayRefreshRate = setInterval(match, 100);
var old;
function match() {
  if( old != textbox.value ){
    clearInterval(displayRefreshRate);
    display.style.color = "white";
    display.innerHTML = '$${' + textbox.value + '}$$';
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,display]);
    old = this.textbox.value;
    setTimeout(
      function visible(){ display.style.color = "black";}, 300
    );
    displayRefreshRate = setInterval(match, 100);
  }
}
/*******************************************************************************
* LaTeX Button Function
* ---------------------
* - Put the Latex in the textbox
* - Re-focus the textbox
*
**********/
function addLaTex(latex){
  textbox.value=textbox.value.concat(latex);
  textbox.focus();
}
/*******************************************************************************
* Offline Functions:
* -----------------
* Only used to test js while server is not running
* 1.)  Clear the textbox
*      - called by <enter>, next, or prev buttons
*
* 2.)  <Enter> key event listener
*
**********/
function nextFun() {
  textbox.value = "";
}
textbox.addEventListener("keyup",
  function(event) {
    event.preventDefault();
    if (event.keyCode == 13) {
        document.getElementById("next").click();
    }
});
</script>

{% endblock %}