
{% extends "inTemplate.html" %}

{% block pageName %}Create Problems{% endblock %}

{% block header %}
  <link href="./bootstrap/css/inProblem.css" rel="stylesheet" >
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
    });
  </script>
{% endblock %}



{% block maincontent %}

    <!--
    | New Quiz Modal
    |   Activated from Settings Menu
    -->
    <div class="modal fade" id="newquiz" role="dialog">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">New Quiz</h4>
          </div>
          <div class="modal-body">
              <!--           <form action="createQuizFromProblem" method="POST"> -->
            <form>
            <input type="text" name="newquiz" id="quizname" class="form-control" placeholder="Enter a Unique Quiz Name">
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

              <button id="addquizbtn" type="button" class="bluebtn btn btn-primary" data-dismiss="modal">Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>

                                                            <!-- Math Display-->
<h2 id="display"></h2>



                                                            <!-- Math Buttons-->
<ul class="mbttn">
  <li onclick="addLaTex('\\frac{x}{y} ')">
    <script type="math/tex">\frac{x}{y}</script>
  </li>
  <li onclick="addLaTex('x\\cdot y')">
    <script type="math/tex">x\cdot y</script>
  </li>
  <li onclick="addLaTex('x^{xy}')">
    <script type="math/tex">x^{xy}</script>
  </li>
  <li onclick="addLaTex('\\sqrt{x} ')">
    <script type="math/tex">\sqrt{x}</script>
  </li>
  <li onclick="addLaTex('\\sqrt[3]{x}')">
    <script type="math/tex">\sqrt[3]{x}</script>
  </li>
  <li onclick="addLaTex('|x| ')">
    <script type="math/tex">|x|</script>
  </li>
  <li onclick="addLaTex('\\alpha ')">
    <script type="math/tex">\alpha</script>
  </li>
  <li onclick="addLaTex('\\beta ')">
    <script type="math/tex">\beta</script>
  </li>
  <li onclick="addLaTex('\\Delta ')">
    <script type="math/tex">\Delta</script>
  </li>
  <li onclick="addLaTex('\\Omega ')">
    <script type="math/tex">\Omega</script>
  </li>
  <li onclick="addLaTex('\\ge ')">
    <script type="math/tex">\ge</script>
  </li>
  <li onclick="addLaTex('\\ne ')">
    <script type="math/tex">\ne</script>
  </li>
  <li onclick="addLaTex('\\infty ')">
    <script type="math/tex">\infty</script>
  </li>
  <li onclick="addLaTex('\\sum_{i=0}^n ')">
    <script type="math/tex">\sum_{i=0}^n</script>
  </li>
</ul>



                                                              <!-- Input Form-->
<div class="inputArea">
  <form action="/inProblem" method="POST">
    <label class="inproblem" for="data">
      Add <script type="math/tex">\rm\LaTeX</script>:
    </label>
    <input class="inproblem" type="text" id="textbox" name="problem" value="{{ problem_content }}">
    <label class="inproblem" for="data">Answer:</label>
    <input class="inproblem" type="text" id="answerbox" name="answer" value="{{ problem_answer }}">
    <label class="inproblem" for="data">Add Keywords:</label>
    <input class="inproblem" type="text" id="tagbox" name="tags" value="{{ problem_tags }}">
    <input class="inproblem" type="hidden" id="keybox" name="problem_key" value="{{ problem_key.urlsafe }}">
    <br>
    <label class="inproblem" for="data">Difficulty:&nbsp;&nbsp;&nbsp;</label>
      <select name="difficulty">
        <option class="inproblem" value="Easy"> Easy</option>
        <option class="inproblem" value="Medium"> Medium</option>
        <option class="inproblem" value="Hard"> Hard</option>
      </select>
    <button id ="next" class="bluebtn btn btn-primary" data-target="#newquiz"
      onclick="return confirm('Your problem has been saved.');" type="submit">Save
    </button>
    <input id="hidden" type="hidden" name="quiz_name" value="{{ selectdefault }}">
  </form>
</div>




<script>
/*******************************************************************************
* Variables set to match ids of elements:
*
**********/
var textbox = document.getElementById("textbox");
var display = document.getElementById("display");
var old;
var displayRefreshRate;




/*******************************************************************************
* Page Load
* ---------
*  - Focus the textbox
*  - Then, scroll back to the top
*  - Mathjax buttons show up later to avoid jittery behaivior
*
**********/
window.onload = function(){
  document.getElementById("problem").className += "active";
  textbox.focus();
  window.scrollTo(0,0);

  $('#newquizbtn').css('display', 'inline');

  setTimeout(function(){
    $("ul.mbttn li").css("color", "#f2f2f2");
  }, 400);
  displayRefreshRate = setInterval(match, 800);

}



$(document).ready(function() {
     $('#addquizbtn').attr('disabled',true);
     $('#quizname').keyup(function() {
        if($('#quizname').val() != '') {
           $('#addquizbtn').removeAttr('disabled');
        }
     });
 });






/*******************************************************************************
* Add Quiz Function
* -----------------
* - Adds the option to the selection box
*
**********/
$('#addquizbtn').click(function(){
  var text = document.getElementById('quizname').value;
  var s= document.getElementById('selectid');
  var h= document.getElementById('hidden');
  s.options[0]= new Option(text, text);
  s.value=text;
  h.value=text;
});


/*******************************************************************************
* Display Function
* ----------------
* - Make the math display match the textbox
* - A timeout where the text is invisible allows the mathjax to render
*
**********/
function match() {
  if( old != textbox.value ){
    clearInterval(displayRefreshRate);
    display.style.color = "white";
    display.innerHTML = '$${' + textbox.value + '}$$';
    MathJax.Hub.Queue(["Typeset",MathJax.Hub,display]);
    old = this.textbox.value;
    setTimeout(
      function visible(){ display.style.color = "black";}, 300
    );
    displayRefreshRate = setInterval(match, 100);
  }
}




/*******************************************************************************
* LaTeX Button Function
* ---------------------
* - Put the Latex in the textbox
* - Re-focus the textbox
*
**********/
function addLaTex(latex){
  textbox.value=textbox.value.concat(latex);
  textbox.focus();
}




/*******************************************************************************
* Offline Functions:
* -----------------
* Only used to test js while server is not running
* 1.)  Clear the textbox
*      - called by <enter>, next, or prev buttons
*
* 2.)  <Enter> key event listener
*
**********/
function nextFun() {
  textbox.value = "";
}
textbox.addEventListener("keyup",
  function(event) {
    event.preventDefault();
    if (event.keyCode == 13) {
        document.getElementById("next").click();
    }
});




</script>

{% endblock %}




