
{% extends "inTemplate.html" %}

{% block pageName %}
{% if grade == None %}
Take a Quiz
{% else %}
Quiz Results
{% endif %}
{% endblock %}


{% block header %}
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]]}
  });
</script>
<script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
{% endblock %}



{% block maincontent %}




                                                          <!-- Dropdown Post -->
<form action="/inQuizzes">
  <input id="hidden" type="hidden" name="quiz_name">
  <input id="submitthis" type="submit" style="visibility:hidden">
</form>



                                                      <!-- Quiz Output Table -->
<div class="row">
  <div class="col-lg-12">
    <form action="/inQuizzes" method="POST">
      <table style="width:80%">
          {% for problem in problems %}
            <tr style="text-align:center">
              <td style="padding-top:50px;padding-bottom:50px;width:10%; background-color:#ccc">{{ forloop.counter }}.</td>
              <td style="width: 75%"><h3>{{ problem.content }}</h3></td>
              <td><input style="width:100%"type="text" name="{{ forloop.counter }}"><td>
            </tr>
          <script>quizselected = ("{{ forloop.counter }}" > 0)</script>
        {% endfor %}
      </table>
      <button style="float:right; display:none" id ="submit" name="selected" value="{{ selectdefault }}"class="bluebtn btn btn-primary" type="submit">Save</button>
    </form>
  </div>
</div>



{% if grade != None %}

<h2>user:  {{ grade.author.identity }}</h2>
<h2>{{ grade.date }}</h2>

<h1 style="color: red">Grade:  {{ grade.stringgrade }}</h1>
<br>
<br>
<br>

<div class="row">
  <div class="col-lg-12">
    <table style="width:80%">
      {%for p, a, g in grade.pag %}
        <tr style="text-align:center">
          <td style="padding-top:50px;padding-bottom:50px;width:10%; background-color:#ccc">{{ forloop.counter }}.</td>
          <td style="width:75%"><h3>{{ p }}</h3></td>
          <td><h3>{{ a }}<h3></td>
          <td>
            {% if g == 0 %}
              <img width="60%" src="./img/red.png"/>
            {% else %}
              <img width="60%" src="./img/green.png"/>
            {% endif %}
          </td>
        </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endif %}


<script>

  var quizselected;
  document.getElementById("quizzes").className += "active";

  if(quizselected){
    $('#submit').css('display', 'inline');
  }

</script>



{% endblock %}
