<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Ajax</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="./bootstrap/js/test.js"></script>

</head>

<body style="width:100vw;padding:20%; padding-top:0;">
  <h1>AJAX TESTING</h1>
  <form style="text-align:center; "> <!-- action="action_page.php"> -->
  <fieldset style="width: 50%; border-color:gray; background-color:#333; padding: 20px;">

<!--
|    <input id="f1" style="width:80%" type="text" name="name" >
|    <br><br>
|    <input id="f2" style="width:80%" type="text" name="age">
|    <br><br>


https://api.jquery.com/serializeArray/
 var frm = $(document.myform);
 var data = JSON.stringify(frm.serializeArray());

-->
    <input id="sub" type="button" value="Submit">
  </fieldset>
</form>
<div id="result"></div>



<!--
<img width="50%" src="https://pbs.twimg.com/profile_images/443395572783800322/nXTuit5o.jpeg" >
-->
</body>
</html>
