
{% extends "inTemplate.html" %}

{% block header %}
  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML-full"></script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [["$","$"],["\\(","\\)"]], processEscapes: true}
    });
  </script>
{% endblock %}


{% block maincontent %}

<div class="row">
  <div class="col-lg-8"><h2 class="page-header">Help Topics by Page</h2></div>
</div>


<div class="row">
<div class="col-lg-1"></div>
<div class="col-lg-8">
<h3>Home</h3>
<ol>
  <li>You can view the quizzes you've taken by clicking</li>
  <li>Sorry, creating a Course is not yet enabled</li>
</ol>

<h3>Take a Quiz</h3>
<ol>
  <li>All authenticated users can see all quizzes</li>
  <li>If a quiz is available, you can select it from the dropdown and complete it</li>
  <li>Once complete, your grade will be displayed and your Home Page will update</li>
</ol>

<h3>Create Problems</h3>
<ol>
  <li>All fields must be filled in</li>
  <li>Use '$' symbols to add <script type="math/tex">\ \rm\LaTeX</script></li>
  <li>Add Keywords you'd like to search by in the My Problems Page</li>
</ol>

<h3>My Problems</h3>
<ol>
  <li>This page displays all the problems you have created</li>
  <li>You can limit the search using keywords or the quiz drop down</li>
</ol>

<h3>My Quizzes</h3>
<ol>
  <li>Quizzes you have created are displayed here</li>
  <li>There is an option to Release the Quiz to Stuents</li>
  <li>There is an option to delete the Quiz</li>
</ol>

<h3>My Students</h3>
<ol>
  <li>Click to Add and Remove Students from the course.</li>
</ol>

<h3>My Courses</h3>
<ol>
  <li>Courses you have created are displayed here</li>
  <li>Under each quiz, you can view any results from other users</li>
</ol>
</div>
</div>

<script>
  document.getElementById("help").className += "active";
  $('#quizform').css('display', 'none');
</script>
{% endblock %}




